[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pdfplumber = "==0.5.28"
flask = "*"
cors = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.9"
