[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pdfplumber = "==0.5.28"
flask = "*"
cors = "*"
flask-cors = "*"
waitress = "*"
pycld2 = {file = "https://github.com/aboSamoor/pycld2/zipball/e3ac86ed4d4902e912691c1531d0c5645382a726"}
flask-httpauth = "*"

[dev-packages]

[requires]
python_version = "3.9"
